<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>createProduct</title>
</head>
<body>
<h1>ADD New Product </h1>
<form action="/saveProduct" method="post">
    <label>ProductName:</label><input  name="name"/>
    <label>ProductDescription:</label><input  name="description"/>
    <label>Price:</label><input  name = "price" />
    <label>discountCode:</label><input  name ="discountCode" />
    <input type="submit" value="Save"/> <a href= "/index" type="button">Back</a>
</form>
</body>
</html>